@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #ff5c00;
    --bg-primary: #fff;
    --bg-secondary: #efefef;
    --bg-primary-dark: #22272e;
    --bg-secondary-dark: #181c22;
}

@layer utilities {
    .clip-bgimage {
        clip-path: polygon(75% 0, 0 0, 0 100%, 25% 100%);
    }
}
